*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# App specific
app/build/

# JVM heap dumps (e.g. from an R8 / lint OOM)
*.hprof
